<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Test Blog</a></h1>
        </div>

        <div>
            <p>published: 20.05.2022, 12:00</p>
            <h2><a href="">My first post</a></h2>
            <p>こんにちは！ よろしくお願いします！ </p>
        </div>

        <div>
            <p>公開日: 2022/05/20, 12:01</p>
            <h2><a href="">2番目の投稿</a></h2>
            <p> こんにちは！ よろしくお願いします！ </p>
        </div>
    </body>
</html>

